:root {

    /** Colors */
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --black: #000000;
    --white: #ffffff;
    --pink-lace: #F9E6F0;
    --piggy-pink: #F6DCE9;
    --paolo-veronese-green: #009379;
    --anti-flash-white: #F3F3F3;

    /**/

    --color-menu-link: var(--charleston-green-v1);
}

* {
    border: 2px dotted blue;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    font-family: "Epilogue", sans-serif;
    
}

.menu-item a {
    text-decoration: none;
    color: var(--color-menu-link);
}

.menu-item a:hover {
    color: grey;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 26px auto;
}

.Logo {
    font-size: 20px;
    font-weight: 600;
}

.navbar {
    display: none;
}

ul.main.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media ( min-width: 768px ) {
    .hamburguer-icon {
        display: none;
    }
    .navbar {
        display: block;
    }
}
