/** Main: Section Story */

.description-content {
    padding: 5rem 0;
}

.description-content h2 {
    font-size: 2.4rem;
}

.description-content p {
    font-size: 1.7rem;
}

.description-content *:first-child {
    margin-bottom: 2.5rem;
    font-weight: normal;
    line-height: 1.7;
}

.description-content p {
    line-height: 1.7;
}

.description-content *:nth-child(2n):not(:nth-last-child(1)) {
    background: var(--paolo-veronese-green);
    color: var(--piggy-pink);
    font-weight: 600px;

}